.Login {
	width: 80%;
	min-width: 500px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
	height: 80%;
	min-height: 400px;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
.carousel-component,
.login-form {
	height: 100%;
	float: left;
}
.login-form {
	padding: 50px;
	width: 40%;
	position: relative;
	box-sizing: border-box;
}
.carousel-component {
	padding: 50px;
	width: 60%;
	box-sizing: border-box;
	background: #eee;
}
.login-inputs {
	margin: 20px 0;
}
