.btn {
	min-width: 100px;
	background: #eee;
	border: 0;
	border-radius: 10px;
	text-align: center;
	transition: 0.3s;
	box-sizing: border-box;
	line-height: 45px;
	height: 45px;
	font-size: 13px;
	outline: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
}
.btn:hover {
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.btn-submit {
	background: linear-gradient(90deg, rgb(36, 36, 220), rgb(120, 120, 255));
	color: #fff;
}

.btn-submit:hover {
	box-shadow: 0 5px 5px rgba(56, 56, 255, 0.4);
	background: linear-gradient(45deg, rgb(50, 50, 220), rgb(120, 120, 255));
}
