.btn {
	min-width: 100px;
	background: #eee;
	border: 0;
	border-radius: 10px;
	text-align: center;
	transition: 0.3s;
	box-sizing: border-box;
	line-height: 45px;
	height: 45px;
	font-size: 13px;
	outline: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	display: inline-block;
}
.btn.margin {
	margin: 0 10px;
}

.btn.no-space {
	letter-spacing: 0px;
}
.btn.no-radius {
	border-radius: 0;
}
.btn.auto-caps {
	text-transform: initial;
	font-size: 15px;
}
.btn.small {
	min-width: 0;
	padding: 0 20px;
	line-height: 50px;
	height: 50px;
	border-radius: 0;
}
.btn.no-padd {
	padding: 0;
}
.btn.white {
	background: white;
}
.btn.white:hover,
.btn.white:active,
.btn.white:focus,
.btn.white.active {
	background: #eee;
}
.btn.grey {
	background: #eee;
}
.btn.grey:hover,
.btn.grey:active,
.btn.grey:focus,
.btn.grey.active {
	background: #ccc;
}
.btn.blue {
	background: rgb(0, 0, 250);
	color: #fff;
}
.btn.blue:hover,
.btn.blue:active,
.btn.blue:focus,
.btn.blue.active {
	background: rgb(0, 0, 200);
}
.btn.no-shadow:hover,
.btn.no-shadow:active,
.btn.no-shadow:focus,
.btn.no-shadow.active {
	box-shadow: none;
}
.btn:hover,
.btn:active,
.btn:focus,
.btn.active {
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.btn-submit {
	background: linear-gradient(90deg, rgb(36, 36, 220), rgb(120, 120, 255));
	color: #fff;
}

.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus,
.btn-submit.active {
	box-shadow: 0 5px 5px rgba(56, 56, 255, 0.4);
	background: linear-gradient(45deg, rgb(50, 50, 220), rgb(120, 120, 255));
}
.btn-warn {
	background: linear-gradient(45deg, #fdc830, #f37335);
	color: #000;
}

.btn-warn:hover,
.btn-warn:active,
.btn-warn:focus,
.btn-warn.active {
	box-shadow: 0 5px 5px rgba(243, 115, 53, 0.4);
	background: linear-gradient(55deg, #fdc830, #f37335);
}
.btn .icon {
	width: 25%;
	text-align: right;
	float: left;
}
